* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
  margin-top: 20px;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}
.i{
  width: 50%;
  height: 6%;
  margin-left: 190px;
  margin-top: 2px;
}
.t{
  align-items: center;
  margin-left: 300px;
  margin-top: 10px;
}

.title, .controls, .button {
  flex: none;
  color: rgb(38, 103, 141);
}

.button {
  padding: 10px 20px;
  width:20%;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid rgb(53, 121, 141);
}

